<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title%></title>
<link href="../css/login.css" rel="stylesheet"></head>
<body>
    <div class="container">
        <h3><span class="close"></span></h3>
        <div class="content">
            <div class="left">
                <div class="logo">
                        <img src="../img/logo.png" alt="">
                </div>
            </div>
            <div class="right">
                <div class="login">
                    <ul>
                        <li>
                            <label>用户名</label>
                            <input type="text" maxlength="12">
                        </li>
                        <li>
                            <label>密  码</label>
                            <input type="password" maxlength="12">
                        </li>
                        <li>
                            <input type="button" value="登录">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript" src="../js/login.js"></script></body>
</html>